Source: less.js-1.3.3
Section: web
Priority: optional
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: Jonas Smedegaard <dr@jones.dk>
Build-Depends: cdbs, quilt,
 devscripts,
 debhelper,
 dh-buildinfo,
 nodejs (>= 0.6.19~dfsg1-3~),
 node-uglify | yui-compressor
Standards-Version: 3.9.4
Homepage: http://lesscss.org/
Vcs-Git: git://anonscm.debian.org/git/collab-maint/less.js
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=collab-maint/less.js.git

Package: libjs-less-1.3.3
Architecture: all
Depends: ${misc:Depends}
Recommends: ${cdbs:Recommends}
Description: the LESS CSS meta-language - Javascript library
 LESS is a meta-language on top of CSS that’s used to describe the style
 of a document cleanly and structurally, with more power than flat CSS
 allows.  LESS both provides a simpler, more elegant syntax for CSS and
 implements various features that are useful for creating manageable
 stylesheets.
 .
 less.js is the reference implementation of LESS, written in JavaScript.
 .
 This package contains the less.js library usable for dynamic parsing of
 LESS in a web browser.

Package: node-less-1.3.3
Architecture: all
Depends: ${cdbs:Depends},
 ${misc:Depends}
Description: the LESS CSS meta-language - compiler and Node module
 Node is an event-based server-side JavaScript engine.
 .
 LESS is a meta-language on top of CSS that’s used to describe the style
 of a document cleanly and structurally, with more power than flat CSS
 allows.  LESS both provides a simpler, more elegant syntax for CSS and
 implements various features that are useful for creating manageable
 stylesheets.
 .
 less.js is the reference implementation of LESS, written in JavaScript.
 .
 This package contains less.js usable as Node module, and the script
 lessc for statically compiling LESS data into CSS.
